<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>AUmigos</display-name>
  <welcome-file-list>
    <welcome-file>redirect.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>login</param-name>
    <param-value>br.org.aumigos.servlets.helpers.LoginHelper</param-value>
  </context-param>
  <context-param>
    <param-name>logout</param-name>
    <param-value>br.org.aumigos.servlets.helpers.LogoutHelper</param-value>
  </context-param>
  <context-param>
    <param-name>userRegister</param-name>
    <param-value>br.org.aumigos.servlets.helpers.UserRegisterHelper</param-value>
  </context-param>
  <context-param>
    <param-name>voluntaryRegister</param-name>
    <param-value>br.org.aumigos.servlets.helpers.VoluntaryRegisterHelper</param-value>
  </context-param>
  <context-param>
    <param-name>home</param-name>
    <param-value>br.org.aumigos.servlets.helpers.HomeHelper</param-value>
  </context-param>
  <context-param>
    <param-name>animalRegister</param-name>
    <param-value>br.org.aumigos.servlets.helpers.AnimalRegisterHelper</param-value>
  </context-param>
  <context-param>
    <param-name>animalList</param-name>
    <param-value>br.org.aumigos.servlets.helpers.AnimalListHelper</param-value>
  </context-param>
  <context-param>
    <param-name>animalUpdate</param-name>
    <param-value>br.org.aumigos.servlets.helpers.AnimalUpdateHelper</param-value>
  </context-param>
</web-app>